# /etc/systemd/system/fgate-vpn-honeypot-parse-and-report.service
[Unit]
Description=Parse and report FortiGate VPN-SSL Honeypot service

[Service]
User=USER
Group=GROUP
WorkingDirectory=/PATH/
Type=oneshot
ExecStart=/PATH/parse.py
ExecStart=-/PATH/report_to_otx/.venv/bin/python3 -c CONFIG
ExecStart=-/PATH/report_to_abuseipdb/.venv/bin/python3 /PATH/report_to_abuseipdb/report_to_abuseipdb.py -c /PATH/report_to_abuseipdb/abuseipdb_config/report_to_abuseipdb.config.yaml
ExecStart=-/PATH/check_in_ldap/.venv/bin/python3 /PATH/check_in_ldap/check_ldap.py

